flask==2.2.3
werkzeug==2.2.3

flask-socketio==5.3.1
python-engineio==4.3.4
python-socketio==5.7.2

eventlet==0.33.3
dnspython==2.2.1
gevent==22.10.2
gevent-websocket==0.10.1

opencv-python==4.6.0.66
numpy==1.23.5
pandas==1.5.3

# MUST match your trained model version
scikit-learn==1.6.1

mediapipe==0.10.11
Pillow==9.4.0
SpeechRecognition==3.9.0
